.about{
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px auto;
    border-radius: 16px;
    transition: 0.5s;
    margin: 50px;
}
.about:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.aboutinside{
    background-color: white;
}
.aboutinside h2{
    font-size: 40px;
}
.aboutinside p{
    font-size: 20px;
}